$container-width:100%;
$clock-container-width:200px;
$clock-container-height:200px;
$clock-container-border-radius:100%;
$clock-container-bg:#2874f0;

$clock-center-width: 10px;
$clock-center-height: 10px;
$clock-center-left:50%;
$clock-center-top:50%;
$clock-center-bg:#ffe11b;

$hands-bg: #ffe11b;
$hands-border-radius:0 3px 3px 0;

$hand-hour-height:50px;
$hand-hour-width:5px;
$hand-hour-top:26%;
$hand-hour-left:49.5%;

$hand-minute-height:90px;
$hand-minute-width:3px;
$hand-minute-top:7.5%;
$hand-minute-left:50%;

$hand-seconds-height:100px;
$hand-seconds-width:2px;
$hand-seconds-top:3%;
$hand-seconds-left:50%;
$hand-seconds-bg:#fff;

$ticks-height:200px;
$ticks-width:200px;
$ticks-border-radius:100%;

$tick-1-roman : I;
$tick-2-roman : II;

.container{
  display:flex;
  width:$container-width;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.clock-container{
  position: relative;
  height: $clock-container-height;
  width: $clock-container-width;
  border-radius:$clock-container-border-radius;
  background: $clock-container-bg;
  background: -webkit-radial-gradient(center ellipse, #032da0 0%, #2469d9 100%);
  background: radial-gradient(ellipse at center, #2874f0 0%, #032da0 100%);
  padding:5px;
}

.clock-child-center{
  width:$clock-center-width;
  height:$clock-center-height;
  position: absolute;
  top:$clock-center-top;
  left:$clock-center-left;
  transform:translate(-$clock-center-left,-$clock-center-top);
  background:$clock-center-bg;
  z-index:9999;
  border-radius:50%;
  border: 1px solid #000;
}

%hands{
  position:absolute;
  background-color: $hands-bg;
  border-radius: $hands-border-radius;
  transition: transform 1000ms linear;
  transform-origin: bottom;
  text-align:center;
  z-index:9998;
}

.clock-child-hours,.clock-child-minutes,.clock-child-seconds{
    @extend %hands
}

.clock-child-hours{
  height: $hand-hour-height;
  width: $hand-hour-width;
  top:$hand-hour-top;
  left:$hand-hour-left;
  transform:translate(-26%,-$hand-hour-left);
  transform:rotate(360deg);
}

.clock-child-minutes{
  height: $hand-minute-height;
  width: $hand-minute-width;
  top:$hand-minute-top;
  left:$hand-minute-left;
  transform:translate(-7.5%,-50%);
  transform:rotate(0deg);
}

.clock-child-seconds{
  height: $hand-seconds-height;
  width: $hand-seconds-width;
  top:$hand-seconds-top;
  left:$hand-seconds-left;
  background-color: $hand-seconds-bg;
  transform:translate(-3%,-50%);
  transform:rotate(360deg);
}

.clock-ticks{
  position: relative;
  height: $ticks-height;
  width: $ticks-width;
  border-radius:$ticks-border-radius;
  display: flex;
  justify-content:center;
  align-items:center;
}

.clock-ticks.animate div{
  animation: glowticks 4s ease-in infinite;
  cursor:pointer;
}

@keyframes glowticks{
  0%{
    box-shadow: 0 0 10px lighten(#fff,90%), 
              0 0 20px #fff, 
              0 0 30px #fff, 
              0 0 40px #f3de58;
  }
  50%{
    box-shadow: 0 0 10px #fff, 
              0 0 20px #fff, 
              0 0 30px #fff, 
              0 0 40px #FF1177;
  }
  100%{
    box-shadow: 0 0 10px #f3de58, 
              0 0 20px #fff, 
              0 0 30px #fff, 
              0 0 40px #f3de58;
  }
}

.clock-ticks div{
  position: absolute;
  text-align:center;
  display:flex;
  justify-content: center;
  height:15px;
  width:4px;
  background-color: $hands-bg;
}

.clock-ticks div:before{
  color:$hands-bg;
  font-size: 9px;
  position: absolute;
  top:-12px;
}

@for $i from 0 through 11{
    $divIndex : $i + 1;
    .clock-ticks div.tick-#{$divIndex}{
        transform: rotate(#{$i*30}deg) translate(0,-85px);
        //box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
}

$roman-ticks:  (1 XII 12 00),
              (2 I 1 05),
              (3 II 2 10),
              (4 III 3 15),
              (5 IV 4 20),
              (6 V 5 25),
              (7 VI 6 30),
              (8 VII 7 35),
              (9 VIII 8 40),
              (10 IX 9 45),
              (11 X 10 50),
              (12 XI 11 55);



@each $i, $roman-numeral,$hour,$minute in $roman-ticks{
  .clock-ticks div.tick-#{$i}:before{
    content:'#{$roman-numeral}';
  }
  .clock-ticks.animate div.tick-#{$i}:before{
    content:'#{$hour}';
  }

  .clock-ticks.animate.minutes div.tick-#{$i}:before{
    content:'#{$minute}';
  }
}

.hms,.hm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  font-size: 1.3em;
}

.hm{
  margin-top: 0px;
  margin-bottom: 10px;
}

.hms div, .hm div{
  margin-left: 2px;
  letter-spacing: 1px;
}

.hm div:nth-child(1):after{
  content:':';
  margin-left: 1px;
}

@for $i from 1 through 2{
    .hms div:nth-child(#{$i}):after{
      content:':';
      margin-left: 1px;
    }
}

.addAlarm{
  position: absolute;
  right: -5%;
  bottom: -36%;
  margin: 0;
  padding: 0;
  height: 50px;
  width:50px;
  border-radius: 100%;
  background-color:lighten($clock-container-bg,10%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:lighten($clock-center-bg,5%);
  font-size: 2em;
  float: right;
  margin-top: -23px;
  line-height: 0px;
  &:hover{
    color:$clock-center-bg;
    background-color:$clock-container-bg;
  }
}

.timeSuffix,.alarmSuffix{
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.alarmTime .timeSuffix{
  margin-left: 5px;
}

.alarmSuffix{
  flex-direction: column;
  color: #444;
}

.alarmSuffix span{
  cursor: pointer;
}

.sufSelected{
  color: #fff;
}

.addAlarmOpt{
  font-size: 10px;
  position: absolute;
  right: -20%;
  bottom: -20%;
  margin: 0;
  padding: 0;
  color: #2874f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 80px;
  text-transform: uppercase;
}

.redDot{
  height:10px;
  width:10px;
  border-radius: 100%;
  animation: stopButton 1.5s ease-in-out infinite alternate;;
  cursor:pointer;
  background-color:#FF1177;
}

@keyframes stopButton{
  from {
    box-shadow: 0 0 10px #fff, 
    0 0 20px #fff, 
    0 0 30px #fff, 
    0 0 40px #FF1177, 
    0 0 70px #FF1177, 
    0 0 80px #FF1177, 
    0 0 100px #FF1177, 
    0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #fff, 
    0 0 20px #FF1177, 
    0 0 35px #FF1177, 
    0 0 40px #FF1177, 
    0 0 50px #FF1177, 
    0 0 75px #FF1177;
  }
}
